<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./static/asd.ico" rel="shortcut icon">
    <title>Sentiment Analysis of Youtube comments</title>
    <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

</head>
<body style=" background-image: url(./static/giphy.gif); background-repeat: no-repeat;  background-size: cover;">



<div class="ui container" style="text-align:center; margin-top:20%; ">



    <a href="/search"><div class="massive ui orange animated button" tabindex="0">
                      <div class="visible content">Start Analysis !</div>
                      <div class="hidden content">
                        <i class="arrow right icon"></i>
                      </div></div></a>



</div>

</body>
</html>